.navbar-menu{
    position: relative;
    left: 1%;
    margin-top: 5%;
    width: 20%;
    height: 100vh;
    padding: 5%;
    border-right: 1px solid #969ba3;


}

.active {
    background: orange;
}

.navbar-start {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    perspective: 100px;
}

.navbar-item{
    display: none;
}

.showSectors {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: baseline;
}

#link_B{
    border-radius: 5px;
    padding: 1% 5%;
}

#opened_folder {
    width: 25px;
    height: auto;
}

.nav-link-text {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;
}

.nav-link {
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
    outline: inherit;
    text-align: left;
    margin: 2%;
    text-decoration: none;
    color: #426696;
    font-weight: 300;
    font-size: 2rem;
    opacity: 0.85;
    transition: transform 100ms ease;
    backface-visibility: hidden;
    -webkit-font-smoothing: subpixel-antialiased;
}

.nav-link:hover {
    transform: scale(1.04) perspective(1px);
}

.sector_link {
    margin-left: 20%;
    font-size: 1.9rem;
}


