.header {
   

    width: 90%;
    height: 90px;
    background: linear-gradient(to right bottom, rgba(255,255,255, 0.7), rgba(255,255,255,0.3));
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 5px 5px 38px 5px #919191;
}

.header_container {
    display: flex;
    justify-content: center;
}

#img {
    border-radius: 22px;
    box-shadow: 3px 2px 16px 2px #000000;
    position: relative;
    left: 20px;
    top: 6px;

}
